<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>_bar</key>
  <string>_bar.glif</string>
  <key>_bar2</key>
  <string>_bar2.glif</string>
  <key>_damma</key>
  <string>_damma.glif</string>
  <key>_damma.filled</key>
  <string>_damma.filled.glif</string>
  <key>_dot1_hat</key>
  <string>_dot1_hat.glif</string>
  <key>_dot1_smallV</key>
  <string>_dot1_smallV_.glif</string>
  <key>_dot1_tah</key>
  <string>_dot1_tah.glif</string>
  <key>_dot2h_tah</key>
  <string>_dot2h_tah.glif</string>
  <key>_dot2v</key>
  <string>_dot2v.glif</string>
  <key>_dot3h</key>
  <string>_dot3h.glif</string>
  <key>_dot3u_tah</key>
  <string>_dot3u_tah.glif</string>
  <key>_four</key>
  <string>_four.glif</string>
  <key>_gafBar</key>
  <string>_gafB_ar.glif</string>
  <key>_gafBarCenter</key>
  <string>_gafB_arC_enter.glif</string>
  <key>_gafBarShort</key>
  <string>_gafB_arS_hort.glif</string>
  <key>_gafBarShort_dot2h</key>
  <string>_gafB_arS_hort_dot2h.glif</string>
  <key>_gafBarShort_dot3u</key>
  <string>_gafB_arS_hort_dot3u.glif</string>
  <key>_gafBar_dot2h</key>
  <string>_gafB_ar_dot2h.glif</string>
  <key>_gafBar_dot3u</key>
  <string>_gafB_ar_dot3u.glif</string>
  <key>_hamza</key>
  <string>_hamza.glif</string>
  <key>_hamzaDamma</key>
  <string>_hamzaD_amma.glif</string>
  <key>_hamzaDamma.filled</key>
  <string>_hamzaD_amma.filled.glif</string>
  <key>_highHamza</key>
  <string>_highH_amza.glif</string>
  <key>_madda.small</key>
  <string>_madda.small.glif</string>
  <key>_meem</key>
  <string>_meem.glif</string>
  <key>_ring</key>
  <string>_ring.glif</string>
  <key>_smallV</key>
  <string>_smallV_.glif</string>
  <key>_tah</key>
  <string>_tah.glif</string>
  <key>_wasla</key>
  <string>_wasla.glif</string>
  <key>_wavyHamza</key>
  <string>_wavyH_amza.glif</string>
  <key>_wavyHamza.b</key>
  <string>_wavyH_amza.b.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>absAfghaniSign</key>
  <string>absA_fghaniS_ign.glif</string>
  <key>absAfricanQafFin</key>
  <string>absA_fricanQ_afF_in.glif</string>
  <key>absAlef</key>
  <string>absA_lef.glif</string>
  <key>absAlefDigitThreeAbove</key>
  <string>absA_lefD_igitT_hreeA_bove.glif</string>
  <key>absAlefDigitThreeAboveFin</key>
  <string>absA_lefD_igitT_hreeA_boveF_in.glif</string>
  <key>absAlefDigitThreeAboveFin.postLamIni</key>
  <string>absA_lefD_igitT_hreeA_boveF_in.postL_amI_ni.glif</string>
  <key>absAlefDigitThreeAboveFin.postLamMed</key>
  <string>absA_lefD_igitT_hreeA_boveF_in.postL_amM_ed.glif</string>
  <key>absAlefDigitTwoAbove</key>
  <string>absA_lefD_igitT_woA_bove.glif</string>
  <key>absAlefDigitTwoAboveFin</key>
  <string>absA_lefD_igitT_woA_boveF_in.glif</string>
  <key>absAlefDigitTwoAboveFin.postLamIni</key>
  <string>absA_lefD_igitT_woA_boveF_in.postL_amI_ni.glif</string>
  <key>absAlefDigitTwoAboveFin.postLamMed</key>
  <string>absA_lefD_igitT_woA_boveF_in.postL_amM_ed.glif</string>
  <key>absAlefFin</key>
  <string>absA_lefF_in.glif</string>
  <key>absAlefFin.postLamIni</key>
  <string>absA_lefF_in.postL_amI_ni.glif</string>
  <key>absAlefFin.postLamMed</key>
  <string>absA_lefF_in.postL_amM_ed.glif</string>
  <key>absAlefHamzaAbove</key>
  <string>absA_lefH_amzaA_bove.glif</string>
  <key>absAlefHamzaAboveFin</key>
  <string>absA_lefH_amzaA_boveF_in.glif</string>
  <key>absAlefHamzaAboveFin.postLamIni</key>
  <string>absA_lefH_amzaA_boveF_in.postL_amI_ni.glif</string>
  <key>absAlefHamzaAboveFin.postLamMed</key>
  <string>absA_lefH_amzaA_boveF_in.postL_amM_ed.glif</string>
  <key>absAlefHamzaBelow</key>
  <string>absA_lefH_amzaB_elow.glif</string>
  <key>absAlefHamzaBelowFin</key>
  <string>absA_lefH_amzaB_elowF_in.glif</string>
  <key>absAlefHamzaBelowFin.postLamIni</key>
  <string>absA_lefH_amzaB_elowF_in.postL_amI_ni.glif</string>
  <key>absAlefHamzaBelowFin.postLamMed</key>
  <string>absA_lefH_amzaB_elowF_in.postL_amM_ed.glif</string>
  <key>absAlefMaddaAbove</key>
  <string>absA_lefM_addaA_bove.glif</string>
  <key>absAlefMaddaAbove.small</key>
  <string>absA_lefM_addaA_bove.small.glif</string>
  <key>absAlefMaddaAboveFin</key>
  <string>absA_lefM_addaA_boveF_in.glif</string>
  <key>absAlefMaddaAboveFin.postLamIni</key>
  <string>absA_lefM_addaA_boveF_in.postL_amI_ni.glif</string>
  <key>absAlefMaddaAboveFin.postLamIni.small</key>
  <string>absA_lefM_addaA_boveF_in.postL_amI_ni.small.glif</string>
  <key>absAlefMaddaAboveFin.postLamMed</key>
  <string>absA_lefM_addaA_boveF_in.postL_amM_ed.glif</string>
  <key>absAlefMaddaAboveFin.postLamMed.small</key>
  <string>absA_lefM_addaA_boveF_in.postL_amM_ed.small.glif</string>
  <key>absAlefMaddaAboveFin.small</key>
  <string>absA_lefM_addaA_boveF_in.small.glif</string>
  <key>absAlefWasla</key>
  <string>absA_lefW_asla.glif</string>
  <key>absAlefWaslaFin</key>
  <string>absA_lefW_aslaF_in.glif</string>
  <key>absAlefWaslaFin.postLamIni</key>
  <string>absA_lefW_aslaF_in.postL_amI_ni.glif</string>
  <key>absAlefWaslaFin.postLamMed</key>
  <string>absA_lefW_aslaF_in.postL_amM_ed.glif</string>
  <key>absAlefWavyHamzaAbove</key>
  <string>absA_lefW_avyH_amzaA_bove.glif</string>
  <key>absAlefWavyHamzaAboveFin</key>
  <string>absA_lefW_avyH_amzaA_boveF_in.glif</string>
  <key>absAlefWavyHamzaAboveFin.postLamIni</key>
  <string>absA_lefW_avyH_amzaA_boveF_in.postL_amI_ni.glif</string>
  <key>absAlefWavyHamzaAboveFin.postLamMed</key>
  <string>absA_lefW_avyH_amzaA_boveF_in.postL_amM_ed.glif</string>
  <key>absAlefWavyHamzaBelow</key>
  <string>absA_lefW_avyH_amzaB_elow.glif</string>
  <key>absAlefWavyHamzaBelowFin</key>
  <string>absA_lefW_avyH_amzaB_elowF_in.glif</string>
  <key>absAlefWavyHamzaBelowFin.postLamIni</key>
  <string>absA_lefW_avyH_amzaB_elowF_in.postL_amI_ni.glif</string>
  <key>absAlefWavyHamzaBelowFin.postLamMed</key>
  <string>absA_lefW_avyH_amzaB_elowF_in.postL_amM_ed.glif</string>
  <key>absAutoKashida</key>
  <string>absA_utoK_ashida.glif</string>
  <key>absCurlyDamma</key>
  <string>absC_urlyD_amma.glif</string>
  <key>absCurlyDammatan</key>
  <string>absC_urlyD_ammatan.glif</string>
  <key>absCurlyFatha</key>
  <string>absC_urlyF_atha.glif</string>
  <key>absCurlyFathatan</key>
  <string>absC_urlyF_athatan.glif</string>
  <key>absCurlyKasra</key>
  <string>absC_urlyK_asra.glif</string>
  <key>absCurlyKasratan</key>
  <string>absC_urlyK_asratan.glif</string>
  <key>absDad</key>
  <string>absD_ad.glif</string>
  <key>absDadDotBelow</key>
  <string>absD_adD_otB_elow.glif</string>
  <key>absDadDotBelowIni</key>
  <string>absD_adD_otB_elowI_ni.glif</string>
  <key>absDadIni</key>
  <string>absD_adI_ni.glif</string>
  <key>absDahal.sen</key>
  <string>absD_ahal.sen.glif</string>
  <key>absDal.sen</key>
  <string>absD_al.sen.glif</string>
  <key>absDalDotBelow.sen</key>
  <string>absD_alD_otB_elow.sen.glif</string>
  <key>absDalDotBelowSmallTah.sen</key>
  <string>absD_alD_otB_elowS_mallT_ah.sen.glif</string>
  <key>absDalFourDotsAbove.sen</key>
  <string>absD_alF_ourD_otsA_bove.sen.glif</string>
  <key>absDalHat.sen</key>
  <string>absD_alH_at.sen.glif</string>
  <key>absDalInvSmallVBelow.sen</key>
  <string>absD_alI_nvS_mallV_B_elow.sen.glif</string>
  <key>absDalRing.sen</key>
  <string>absD_alR_ing.sen.glif</string>
  <key>absDalThreeDotsAboveDownwards.sen</key>
  <string>absD_alT_hreeD_otsA_boveD_ownwards.sen.glif</string>
  <key>absDalThreeDotsBelow.sen</key>
  <string>absD_alT_hreeD_otsB_elow.sen.glif</string>
  <key>absDalTwoVertBelowSmallTah.sen</key>
  <string>absD_alT_woV_ertB_elowS_mallT_ah.sen.glif</string>
  <key>absDamma</key>
  <string>absD_amma.glif</string>
  <key>absDamma.filled</key>
  <string>absD_amma.filled.glif</string>
  <key>absDamma.short</key>
  <string>absD_amma.short.glif</string>
  <key>absDammaDot</key>
  <string>absD_ammaD_ot.glif</string>
  <key>absDammaMeem</key>
  <string>absD_ammaM_eem.glif</string>
  <key>absDammatan</key>
  <string>absD_ammatan.glif</string>
  <key>absDammatan.sixNine</key>
  <string>absD_ammatan.sixN_ine.glif</string>
  <key>absDdahal.sen</key>
  <string>absD_dahal.sen.glif</string>
  <key>absDdal.sen</key>
  <string>absD_dal.sen.glif</string>
  <key>absDoubleRightArrowheadAbove</key>
  <string>absD_oubleR_ightA_rrowheadA_bove.glif</string>
  <key>absDoubleRightArrowheadAboveDot</key>
  <string>absD_oubleR_ightA_rrowheadA_boveD_ot.glif</string>
  <key>absDul.sen</key>
  <string>absD_ul.sen.glif</string>
  <key>absDyehMed</key>
  <string>absD_yehM_ed.glif</string>
  <key>absEasternEight</key>
  <string>absE_asternE_ight.glif</string>
  <key>absEasternEightMedium</key>
  <string>absE_asternE_ightM_edium.glif</string>
  <key>absEasternEightSmall</key>
  <string>absE_asternE_ightS_mall.glif</string>
  <key>absEasternFour</key>
  <string>absE_asternF_our.glif</string>
  <key>absEasternFour.roh</key>
  <string>absE_asternF_our.roh.glif</string>
  <key>absEasternFour.urdu</key>
  <string>absE_asternF_our.urdu.glif</string>
  <key>absEasternFourMedium</key>
  <string>absE_asternF_ourM_edium.glif</string>
  <key>absEasternFourMedium.roh</key>
  <string>absE_asternF_ourM_edium.roh.glif</string>
  <key>absEasternFourMedium.urdu</key>
  <string>absE_asternF_ourM_edium.urdu.glif</string>
  <key>absEasternFourSmall</key>
  <string>absE_asternF_ourS_mall.glif</string>
  <key>absEasternFourSmall.roh</key>
  <string>absE_asternF_ourS_mall.roh.glif</string>
  <key>absEasternFourSmall.urdu</key>
  <string>absE_asternF_ourS_mall.urdu.glif</string>
  <key>absEasternNine</key>
  <string>absE_asternN_ine.glif</string>
  <key>absEasternNineMedium</key>
  <string>absE_asternN_ineM_edium.glif</string>
  <key>absEasternNineSmall</key>
  <string>absE_asternN_ineS_mall.glif</string>
  <key>absEasternOne</key>
  <string>absE_asternO_ne.glif</string>
  <key>absEasternOneMedium</key>
  <string>absE_asternO_neM_edium.glif</string>
  <key>absEasternOneSmall</key>
  <string>absE_asternO_neS_mall.glif</string>
  <key>absEasternSeven</key>
  <string>absE_asternS_even.glif</string>
  <key>absEasternSevenMedium</key>
  <string>absE_asternS_evenM_edium.glif</string>
  <key>absEasternSevenMedium.urdu</key>
  <string>absE_asternS_evenM_edium.urdu.glif</string>
  <key>absEasternSevenSmall</key>
  <string>absE_asternS_evenS_mall.glif</string>
  <key>absEasternSix.urdu</key>
  <string>absE_asternS_ix.urdu.glif</string>
  <key>absEasternSixMedium.urdu</key>
  <string>absE_asternS_ixM_edium.urdu.glif</string>
  <key>absEasternSixSmall.urdu</key>
  <string>absE_asternS_ixS_mall.urdu.glif</string>
  <key>absEasternThree</key>
  <string>absE_asternT_hree.glif</string>
  <key>absEasternThreeMedium</key>
  <string>absE_asternT_hreeM_edium.glif</string>
  <key>absEasternThreeSmall</key>
  <string>absE_asternT_hreeS_mall.glif</string>
  <key>absEasternTwo</key>
  <string>absE_asternT_wo.glif</string>
  <key>absEasternTwoMedium</key>
  <string>absE_asternT_woM_edium.glif</string>
  <key>absEasternTwoSmall</key>
  <string>absE_asternT_woS_mall.glif</string>
  <key>absEasternZero</key>
  <string>absE_asternZ_ero.glif</string>
  <key>absEasternZeroMedium</key>
  <string>absE_asternZ_eroM_edium.glif</string>
  <key>absEasternZeroSmall</key>
  <string>absE_asternZ_eroS_mall.glif</string>
  <key>absEndOfAyah</key>
  <string>absE_ndO_fA_yah.glif</string>
  <key>absEndOfAyah.2</key>
  <string>absE_ndO_fA_yah.2.glif</string>
  <key>absEndOfAyah.3</key>
  <string>absE_ndO_fA_yah.3.glif</string>
  <key>absFatha</key>
  <string>absF_atha.glif</string>
  <key>absFathaDotAbove</key>
  <string>absF_athaD_otA_bove.glif</string>
  <key>absFathaMeem</key>
  <string>absF_athaM_eem.glif</string>
  <key>absFathaRing</key>
  <string>absF_athaR_ing.glif</string>
  <key>absFathaTwoDots</key>
  <string>absF_athaT_woD_ots.glif</string>
  <key>absFathatan</key>
  <string>absF_athatan.glif</string>
  <key>absFootnoteSign</key>
  <string>absF_ootnoteS_ign.glif</string>
  <key>absFootnoteSign.2</key>
  <string>absF_ootnoteS_ign.2.glif</string>
  <key>absFour</key>
  <string>absF_our.glif</string>
  <key>absFourMedium</key>
  <string>absF_ourM_edium.glif</string>
  <key>absFourSmall</key>
  <string>absF_ourS_mall.glif</string>
  <key>absGafFin</key>
  <string>absG_afF_in.glif</string>
  <key>absGafIni</key>
  <string>absG_afI_ni.glif</string>
  <key>absGafInvertedStrokeFin</key>
  <string>absG_afI_nvertedS_trokeF_in.glif</string>
  <key>absGafInvertedStrokeIni</key>
  <string>absG_afI_nvertedS_trokeI_ni.glif</string>
  <key>absGafInvertedStrokeMed</key>
  <string>absG_afI_nvertedS_trokeM_ed.glif</string>
  <key>absGafRingFin</key>
  <string>absG_afR_ingF_in.glif</string>
  <key>absGafRingIni</key>
  <string>absG_afR_ingI_ni.glif</string>
  <key>absGafThreeDotsAboveFin</key>
  <string>absG_afT_hreeD_otsA_boveF_in.glif</string>
  <key>absGafThreeDotsAboveIni</key>
  <string>absG_afT_hreeD_otsA_boveI_ni.glif</string>
  <key>absGafTwoDotsBelowFin</key>
  <string>absG_afT_woD_otsB_elowF_in.glif</string>
  <key>absGafTwoDotsBelowIni</key>
  <string>absG_afT_woD_otsB_elowI_ni.glif</string>
  <key>absGuehFin</key>
  <string>absG_uehF_in.glif</string>
  <key>absGuehIni</key>
  <string>absG_uehI_ni.glif</string>
  <key>absHahDigitFourBelowMed</key>
  <string>absH_ahD_igitF_ourB_elowM_ed.glif</string>
  <key>absHahHamzaAboveMed</key>
  <string>absH_ahH_amzaA_boveM_ed.glif</string>
  <key>absHahMed</key>
  <string>absH_ahM_ed.glif</string>
  <key>absHahSmallTahAboveMed</key>
  <string>absH_ahS_mallT_ahA_boveM_ed.glif</string>
  <key>absHahSmallTahBelowMed</key>
  <string>absH_ahS_mallT_ahB_elowM_ed.glif</string>
  <key>absHahSmallTahTwoDotsMed</key>
  <string>absH_ahS_mallT_ahT_woD_otsM_ed.glif</string>
  <key>absHahThreeDotsAboveMed</key>
  <string>absH_ahT_hreeD_otsA_boveM_ed.glif</string>
  <key>absHahThreeDotsUpBelowMed</key>
  <string>absH_ahT_hreeD_otsU_pB_elowM_ed.glif</string>
  <key>absHahTwoDotsAboveMed</key>
  <string>absH_ahT_woD_otsA_boveM_ed.glif</string>
  <key>absHahTwoDotsVerticalAboveMed</key>
  <string>absH_ahT_woD_otsV_erticalA_boveM_ed.glif</string>
  <key>absHamzaAbove</key>
  <string>absH_amzaA_bove.glif</string>
  <key>absHamzaBelow</key>
  <string>absH_amzaB_elow.glif</string>
  <key>absHamzaDamma</key>
  <string>absH_amzaD_amma.glif</string>
  <key>absHamzaDamma.filled</key>
  <string>absH_amzaD_amma.filled.glif</string>
  <key>absHamzaDamma.short</key>
  <string>absH_amzaD_amma.short.glif</string>
  <key>absHamzaFatha</key>
  <string>absH_amzaF_atha.glif</string>
  <key>absHehDoachashmeeFin</key>
  <string>absH_ehD_oachashmeeF_in.glif</string>
  <key>absHehFin.hooked</key>
  <string>absH_ehF_in.hooked.glif</string>
  <key>absHehGoalFin</key>
  <string>absH_ehG_oalF_in.glif</string>
  <key>absHehGoalHamzaAboveFin</key>
  <string>absH_ehG_oalH_amzaA_boveF_in.glif</string>
  <key>absHehGoalHamzaAboveIni</key>
  <string>absH_ehG_oalH_amzaA_boveI_ni.glif</string>
  <key>absHehGoalIni</key>
  <string>absH_ehG_oalI_ni.glif</string>
  <key>absHehIni.hooked</key>
  <string>absH_ehI_ni.hooked.glif</string>
  <key>absHighHamza</key>
  <string>absH_ighH_amza.glif</string>
  <key>absHighHamzaAlef</key>
  <string>absH_ighH_amzaA_lef.glif</string>
  <key>absHighHamzaAlefFin</key>
  <string>absH_ighH_amzaA_lefF_in.glif</string>
  <key>absHighHamzaAlefFin.postLamIni</key>
  <string>absH_ighH_amzaA_lefF_in.postL_amI_ni.glif</string>
  <key>absHighHamzaAlefFin.postLamMed</key>
  <string>absH_ighH_amzaA_lefF_in.postL_amM_ed.glif</string>
  <key>absJeemMed</key>
  <string>absJ_eemM_ed.glif</string>
  <key>absJeemTwoDotsAboveMed</key>
  <string>absJ_eemT_woD_otsA_boveM_ed.glif</string>
  <key>absKaf</key>
  <string>absK_af.glif</string>
  <key>absKafDotAbove</key>
  <string>absK_afD_otA_bove.glif</string>
  <key>absKafDotAboveIni</key>
  <string>absK_afD_otA_boveI_ni.glif</string>
  <key>absKafDotBelow</key>
  <string>absK_afD_otB_elow.glif</string>
  <key>absKafDotBelowIni</key>
  <string>absK_afD_otB_elowI_ni.glif</string>
  <key>absKafIni</key>
  <string>absK_afI_ni.glif</string>
  <key>absKafRingFin</key>
  <string>absK_afR_ingF_in.glif</string>
  <key>absKafRingIni</key>
  <string>absK_afR_ingI_ni.glif</string>
  <key>absKafThreeDotsBelow</key>
  <string>absK_afT_hreeD_otsB_elow.glif</string>
  <key>absKafThreeDotsBelowIni</key>
  <string>absK_afT_hreeD_otsB_elowI_ni.glif</string>
  <key>absKafTwoDotsAbove</key>
  <string>absK_afT_woD_otsA_bove.glif</string>
  <key>absKafTwoDotsAboveIni</key>
  <string>absK_afT_woD_otsA_boveI_ni.glif</string>
  <key>absKashmiriYeh</key>
  <string>absK_ashmiriY_eh.glif</string>
  <key>absKashmiriYehFin</key>
  <string>absK_ashmiriY_ehF_in.glif</string>
  <key>absKasra</key>
  <string>absK_asra.glif</string>
  <key>absKasra.lowered</key>
  <string>absK_asra.lowered.glif</string>
  <key>absKasraDotBelow</key>
  <string>absK_asraD_otB_elow.glif</string>
  <key>absKasraMeem</key>
  <string>absK_asraM_eem.glif</string>
  <key>absKasratan</key>
  <string>absK_asratan.glif</string>
  <key>absKasratan.lowered</key>
  <string>absK_asratan.lowered.glif</string>
  <key>absKehehDotAboveFin</key>
  <string>absK_ehehD_otA_boveF_in.glif</string>
  <key>absKehehDotAboveIni</key>
  <string>absK_ehehD_otA_boveI_ni.glif</string>
  <key>absKehehFin</key>
  <string>absK_ehehF_in.glif</string>
  <key>absKehehIni</key>
  <string>absK_ehehI_ni.glif</string>
  <key>absKehehThreeDotsAboveFin</key>
  <string>absK_ehehT_hreeD_otsA_boveF_in.glif</string>
  <key>absKehehThreeDotsAboveIni</key>
  <string>absK_ehehT_hreeD_otsA_boveI_ni.glif</string>
  <key>absKehehThreeDotsBelowFin</key>
  <string>absK_ehehT_hreeD_otsB_elowF_in.glif</string>
  <key>absKehehThreeDotsBelowIni</key>
  <string>absK_ehehT_hreeD_otsB_elowI_ni.glif</string>
  <key>absKehehThreeDotsUpBelowFin</key>
  <string>absK_ehehT_hreeD_otsU_pB_elowF_in.glif</string>
  <key>absKehehThreeDotsUpBelowIni</key>
  <string>absK_ehehT_hreeD_otsU_pB_elowI_ni.glif</string>
  <key>absKehehTwoDotsAboveFin</key>
  <string>absK_ehehT_woD_otsA_boveF_in.glif</string>
  <key>absKehehTwoDotsAboveIni</key>
  <string>absK_ehehT_woD_otsA_boveI_ni.glif</string>
  <key>absKhahMed</key>
  <string>absK_hahM_ed.glif</string>
  <key>absLamBarIni.preAlef</key>
  <string>absL_amB_arI_ni.preA_lef.glif</string>
  <key>absLamBarMed.preAlef</key>
  <string>absL_amB_arM_ed.preA_lef.glif</string>
  <key>absLamDotAboveIni.preAlef</key>
  <string>absL_amD_otA_boveI_ni.preA_lef.glif</string>
  <key>absLamDotAboveMed.preAlef</key>
  <string>absL_amD_otA_boveM_ed.preA_lef.glif</string>
  <key>absLamDoubleBarIni.preAlef</key>
  <string>absL_amD_oubleB_arI_ni.preA_lef.glif</string>
  <key>absLamDoubleBarMed.preAlef</key>
  <string>absL_amD_oubleB_arM_ed.preA_lef.glif</string>
  <key>absLamIni.preAlef</key>
  <string>absL_amI_ni.preA_lef.glif</string>
  <key>absLamMed.preAlef</key>
  <string>absL_amM_ed.preA_lef.glif</string>
  <key>absLamSmallVIni.preAlef</key>
  <string>absL_amS_mallV_I_ni.preA_lef.glif</string>
  <key>absLamSmallVMed.preAlef</key>
  <string>absL_amS_mallV_M_ed.preA_lef.glif</string>
  <key>absLamThreeDotsAboveIni.preAlef</key>
  <string>absL_amT_hreeD_otsA_boveI_ni.preA_lef.glif</string>
  <key>absLamThreeDotsAboveMed.preAlef</key>
  <string>absL_amT_hreeD_otsA_boveM_ed.preA_lef.glif</string>
  <key>absLamThreeDotsBelowIni.preAlef</key>
  <string>absL_amT_hreeD_otsB_elowI_ni.preA_lef.glif</string>
  <key>absLamThreeDotsBelowMed.preAlef</key>
  <string>absL_amT_hreeD_otsB_elowM_ed.preA_lef.glif</string>
  <key>absLeftArrowheadBelow</key>
  <string>absL_eftA_rrowheadB_elow.glif</string>
  <key>absLigatureAllah</key>
  <string>absL_igatureA_llah.glif</string>
  <key>absLowAlef</key>
  <string>absL_owA_lef.glif</string>
  <key>absMaddahAbove</key>
  <string>absM_addahA_bove.glif</string>
  <key>absMaddahAbove.small</key>
  <string>absM_addahA_bove.small.glif</string>
  <key>absMeemDotAboveFin</key>
  <string>absM_eemD_otA_boveF_in.glif</string>
  <key>absMeemDotBelowFin</key>
  <string>absM_eemD_otB_elowF_in.glif</string>
  <key>absMeemFin</key>
  <string>absM_eemF_in.glif</string>
  <key>absMeemThreeDotsAboveFin</key>
  <string>absM_eemT_hreeD_otsA_boveF_in.glif</string>
  <key>absNg</key>
  <string>absN_g.glif</string>
  <key>absNgIni</key>
  <string>absN_gI_ni.glif</string>
  <key>absNgoehFin</key>
  <string>absN_goehF_in.glif</string>
  <key>absNgoehIni</key>
  <string>absN_goehI_ni.glif</string>
  <key>absNine</key>
  <string>absN_ine.glif</string>
  <key>absNineMedium</key>
  <string>absN_ineM_edium.glif</string>
  <key>absNineSmall</key>
  <string>absN_ineS_mall.glif</string>
  <key>absNoonGhunnaMark</key>
  <string>absN_oonG_hunnaM_ark.glif</string>
  <key>absNumberSign</key>
  <string>absN_umberS_ign.glif</string>
  <key>absNumberSign.2</key>
  <string>absN_umberS_ign.2.glif</string>
  <key>absNumberSign.3</key>
  <string>absN_umberS_ign.3.glif</string>
  <key>absNumberSignAbove</key>
  <string>absN_umberS_ignA_bove.glif</string>
  <key>absNumberSignAbove.2</key>
  <string>absN_umberS_ignA_bove.2.glif</string>
  <key>absNyehMed</key>
  <string>absN_yehM_ed.glif</string>
  <key>absOpenDammatan</key>
  <string>absO_penD_ammatan.glif</string>
  <key>absOpenFathatan</key>
  <string>absO_penF_athatan.glif</string>
  <key>absOpenKasratan</key>
  <string>absO_penK_asratan.glif</string>
  <key>absPageSign</key>
  <string>absP_ageS_ign.glif</string>
  <key>absPageSign.2</key>
  <string>absP_ageS_ign.2.glif</string>
  <key>absPageSign.3</key>
  <string>absP_ageS_ign.3.glif</string>
  <key>absPageSign.4</key>
  <string>absP_ageS_ign.4.glif</string>
  <key>absPlaceOfSajdah</key>
  <string>absP_laceO_fS_ajdah.glif</string>
  <key>absQafDotAboveFin</key>
  <string>absQ_afD_otA_boveF_in.glif</string>
  <key>absQafDotBelowFin</key>
  <string>absQ_afD_otB_elowF_in.glif</string>
  <key>absQafFin</key>
  <string>absQ_afF_in.glif</string>
  <key>absQafNoDotsFin</key>
  <string>absQ_afN_oD_otsF_in.glif</string>
  <key>absQafThreeDotsAboveFin</key>
  <string>absQ_afT_hreeD_otsA_boveF_in.glif</string>
  <key>absRay</key>
  <string>absR_ay.glif</string>
  <key>absRehLoop</key>
  <string>absR_ehL_oop.glif</string>
  <key>absRehLoopFin</key>
  <string>absR_ehL_oopF_in.glif</string>
  <key>absReversedDamma</key>
  <string>absR_eversedD_amma.glif</string>
  <key>absRialSign</key>
  <string>absR_ialS_ign.glif</string>
  <key>absRightArrowheadAboveDot</key>
  <string>absR_ightA_rrowheadA_boveD_ot.glif</string>
  <key>absRightArrowheadBelow</key>
  <string>absR_ightA_rrowheadB_elow.glif</string>
  <key>absRohingyaYeh</key>
  <string>absR_ohingyaY_eh.glif</string>
  <key>absRohingyaYehFin</key>
  <string>absR_ohingyaY_ehF_in.glif</string>
  <key>absSad</key>
  <string>absS_ad.glif</string>
  <key>absSadIni</key>
  <string>absS_adI_ni.glif</string>
  <key>absSadThreeDotsAbove</key>
  <string>absS_adT_hreeD_otsA_bove.glif</string>
  <key>absSadThreeDotsAboveIni</key>
  <string>absS_adT_hreeD_otsA_boveI_ni.glif</string>
  <key>absSadThreeDotsBelow</key>
  <string>absS_adT_hreeD_otsB_elow.glif</string>
  <key>absSadThreeDotsBelowIni</key>
  <string>absS_adT_hreeD_otsB_elowI_ni.glif</string>
  <key>absSadTwoDotsBelow</key>
  <string>absS_adT_woD_otsB_elow.glif</string>
  <key>absSadTwoDotsBelowIni</key>
  <string>absS_adT_woD_otsB_elowI_ni.glif</string>
  <key>absSamvatSign</key>
  <string>absS_amvatS_ign.glif</string>
  <key>absSamvatSign.2</key>
  <string>absS_amvatS_ign.2.glif</string>
  <key>absSamvatSign.3</key>
  <string>absS_amvatS_ign.3.glif</string>
  <key>absSamvatSign.4</key>
  <string>absS_amvatS_ign.4.glif</string>
  <key>absSeen</key>
  <string>absS_een.glif</string>
  <key>absSeenDigitFourAbove</key>
  <string>absS_eenD_igitF_ourA_bove.glif</string>
  <key>absSeenDigitFourAboveIni</key>
  <string>absS_eenD_igitF_ourA_boveI_ni.glif</string>
  <key>absSeenDigitFourAboveMed</key>
  <string>absS_eenD_igitF_ourA_boveM_ed.glif</string>
  <key>absSeenDotBelowDotAbove</key>
  <string>absS_eenD_otB_elowD_otA_bove.glif</string>
  <key>absSeenDotBelowDotAboveIni</key>
  <string>absS_eenD_otB_elowD_otA_boveI_ni.glif</string>
  <key>absSeenDotBelowDotAboveMed</key>
  <string>absS_eenD_otB_elowD_otA_boveM_ed.glif</string>
  <key>absSeenFourDotsAbove</key>
  <string>absS_eenF_ourD_otsA_bove.glif</string>
  <key>absSeenFourDotsAboveIni</key>
  <string>absS_eenF_ourD_otsA_boveI_ni.glif</string>
  <key>absSeenFourDotsAboveMed</key>
  <string>absS_eenF_ourD_otsA_boveM_ed.glif</string>
  <key>absSeenIni</key>
  <string>absS_eenI_ni.glif</string>
  <key>absSeenInvertedV</key>
  <string>absS_eenI_nvertedV_.glif</string>
  <key>absSeenInvertedVIni</key>
  <string>absS_eenI_nvertedV_I_ni.glif</string>
  <key>absSeenInvertedVMed</key>
  <string>absS_eenI_nvertedV_M_ed.glif</string>
  <key>absSeenMed</key>
  <string>absS_eenM_ed.glif</string>
  <key>absSeenSmallTahTwoDots</key>
  <string>absS_eenS_mallT_ahT_woD_ots.glif</string>
  <key>absSeenSmallTahTwoDotsIni</key>
  <string>absS_eenS_mallT_ahT_woD_otsI_ni.glif</string>
  <key>absSeenSmallTahTwoDotsMed</key>
  <string>absS_eenS_mallT_ahT_woD_otsM_ed.glif</string>
  <key>absSeenThreeDotsBelow</key>
  <string>absS_eenT_hreeD_otsB_elow.glif</string>
  <key>absSeenThreeDotsBelowIni</key>
  <string>absS_eenT_hreeD_otsB_elowI_ni.glif</string>
  <key>absSeenThreeDotsBelowMed</key>
  <string>absS_eenT_hreeD_otsB_elowM_ed.glif</string>
  <key>absSeenThreeDotsBelowThreeDotsAbove</key>
  <string>absS_eenT_hreeD_otsB_elowT_hreeD_otsA_bove.glif</string>
  <key>absSeenThreeDotsBelowThreeDotsAboveIni</key>
  <string>absS_eenT_hreeD_otsB_elowT_hreeD_otsA_boveI_ni.glif</string>
  <key>absSeenThreeDotsBelowThreeDotsAboveMed</key>
  <string>absS_eenT_hreeD_otsB_elowT_hreeD_otsA_boveM_ed.glif</string>
  <key>absSeenTwoVertAbove</key>
  <string>absS_eenT_woV_ertA_bove.glif</string>
  <key>absSeenTwoVertAboveIni</key>
  <string>absS_eenT_woV_ertA_boveI_ni.glif</string>
  <key>absSeenTwoVertAboveMed</key>
  <string>absS_eenT_woV_ertA_boveM_ed.glif</string>
  <key>absSeven</key>
  <string>absS_even.glif</string>
  <key>absSevenMedium</key>
  <string>absS_evenM_edium.glif</string>
  <key>absShadda</key>
  <string>absS_hadda.glif</string>
  <key>absShaddaAlef</key>
  <string>absS_haddaA_lef.glif</string>
  <key>absShaddaDamma</key>
  <string>absS_haddaD_amma.glif</string>
  <key>absShaddaDamma.filled</key>
  <string>absS_haddaD_amma.filled.glif</string>
  <key>absShaddaDamma.short</key>
  <string>absS_haddaD_amma.short.glif</string>
  <key>absShaddaDammatan</key>
  <string>absS_haddaD_ammatan.glif</string>
  <key>absShaddaDammatan.sixNine</key>
  <string>absS_haddaD_ammatan.sixN_ine.glif</string>
  <key>absShaddaFatha</key>
  <string>absS_haddaF_atha.glif</string>
  <key>absShaddaFathatan</key>
  <string>absS_haddaF_athatan.glif</string>
  <key>absShaddaKasra</key>
  <string>absS_haddaK_asra.glif</string>
  <key>absShaddaKasratan</key>
  <string>absS_haddaK_asratan.glif</string>
  <key>absSheen</key>
  <string>absS_heen.glif</string>
  <key>absSheenDotBelow</key>
  <string>absS_heenD_otB_elow.glif</string>
  <key>absSheenDotBelowIni</key>
  <string>absS_heenD_otB_elowI_ni.glif</string>
  <key>absSheenDotBelowMed</key>
  <string>absS_heenD_otB_elowM_ed.glif</string>
  <key>absSheenIni</key>
  <string>absS_heenI_ni.glif</string>
  <key>absSheenMed</key>
  <string>absS_heenM_ed.glif</string>
  <key>absShortVowelMark</key>
  <string>absS_hortV_owelM_ark.glif</string>
  <key>absSmallDamma</key>
  <string>absS_mallD_amma.glif</string>
  <key>absSmallHighDotlessHeadOfKhah</key>
  <string>absS_mallH_ighD_otlessH_eadO_fK_hah.glif</string>
  <key>absSmallHighJeem</key>
  <string>absS_mallH_ighJ_eem.glif</string>
  <key>absSmallHighMeemInitialForm</key>
  <string>absS_mallH_ighM_eemI_nitialF_orm.glif</string>
  <key>absSmallHighMeemIsolatedForm</key>
  <string>absS_mallH_ighM_eemI_solatedF_orm.glif</string>
  <key>absSmallHighQafLamAlefMaksura</key>
  <string>absS_mallH_ighQ_afL_amA_lefM_aksura.glif</string>
  <key>absSmallHighRehHahMark</key>
  <string>absS_mallH_ighR_ehH_ahM_ark.glif</string>
  <key>absSmallHighRoundedZero</key>
  <string>absS_mallH_ighR_oundedZ_ero.glif</string>
  <key>absSmallHighSadLamAlefMaksura</key>
  <string>absS_mallH_ighS_adL_amA_lefM_aksura.glif</string>
  <key>absSmallHighSadMark</key>
  <string>absS_mallH_ighS_adM_ark.glif</string>
  <key>absSmallHighSeen</key>
  <string>absS_mallH_ighS_een.glif</string>
  <key>absSmallHighWaw</key>
  <string>absS_mallH_ighW_aw.glif</string>
  <key>absSmallLowMeem</key>
  <string>absS_mallL_owM_eem.glif</string>
  <key>absSmallLowSeen</key>
  <string>absS_mallL_owS_een.glif</string>
  <key>absSmallWaw</key>
  <string>absS_mallW_aw.glif</string>
  <key>absSmallYeh</key>
  <string>absS_mallY_eh.glif</string>
  <key>absStartOfRubElHizb</key>
  <string>absS_tartO_fR_ubE_lH_izb.glif</string>
  <key>absStraightWaw</key>
  <string>absS_traightW_aw.glif</string>
  <key>absStraightWawFin</key>
  <string>absS_traightW_awF_in.glif</string>
  <key>absSukun</key>
  <string>absS_ukun.glif</string>
  <key>absSukun.downOpen</key>
  <string>absS_ukun.downO_pen.glif</string>
  <key>absSukun.leftOpen</key>
  <string>absS_ukun.leftO_pen.glif</string>
  <key>absSuperscriptAlef</key>
  <string>absS_uperscriptA_lef.glif</string>
  <key>absSuperscriptAlef.large</key>
  <string>absS_uperscriptA_lef.large.glif</string>
  <key>absSwashKafMed</key>
  <string>absS_washK_afM_ed.glif</string>
  <key>absTahIni</key>
  <string>absT_ahI_ni.glif</string>
  <key>absTahThreeDotsAboveIni</key>
  <string>absT_ahT_hreeD_otsA_boveI_ni.glif</string>
  <key>absTahTwoDotsAboveIni</key>
  <string>absT_ahT_woD_otsA_boveI_ni.glif</string>
  <key>absTchehDotAboveMed</key>
  <string>absT_chehD_otA_boveM_ed.glif</string>
  <key>absTchehMed</key>
  <string>absT_chehM_ed.glif</string>
  <key>absTchehehMed</key>
  <string>absT_chehehM_ed.glif</string>
  <key>absTehMarbutaGoalFin</key>
  <string>absT_ehM_arbutaG_oalF_in.glif</string>
  <key>absThal.sen</key>
  <string>absT_hal.sen.glif</string>
  <key>absToneLoopAbove</key>
  <string>absT_oneL_oopA_bove.glif</string>
  <key>absToneLoopBelow</key>
  <string>absT_oneL_oopB_elow.glif</string>
  <key>absTurnedDammaBelow</key>
  <string>absT_urnedD_ammaB_elow.glif</string>
  <key>absTwo</key>
  <string>absT_wo.glif</string>
  <key>absTwoMedium</key>
  <string>absT_woM_edium.glif</string>
  <key>absUltaPesh.open</key>
  <string>absU_ltaP_esh.open.glif</string>
  <key>absVerseSign</key>
  <string>absV_erseS_ign.glif</string>
  <key>absVowelInvSmallV</key>
  <string>absV_owelI_nvS_mallV_.glif</string>
  <key>absVowelSmallV</key>
  <string>absV_owelS_mallV_.glif</string>
  <key>absWavyHamzaBelow</key>
  <string>absW_avyH_amzaB_elow.glif</string>
  <key>absYearSign</key>
  <string>absY_earS_ign.glif</string>
  <key>absYearSign.2</key>
  <string>absY_earS_ign.2.glif</string>
  <key>absYearSign.3</key>
  <string>absY_earS_ign.3.glif</string>
  <key>absYearSign.4</key>
  <string>absY_earS_ign.4.glif</string>
  <key>absYehBarreeDigitThreeAboveFin</key>
  <string>absY_ehB_arreeD_igitT_hreeA_boveF_in.glif</string>
  <key>absYehBarreeDigitTwoAboveFin</key>
  <string>absY_ehB_arreeD_igitT_woA_boveF_in.glif</string>
  <key>absYehBarreeFin</key>
  <string>absY_ehB_arreeF_in.glif</string>
  <key>absYehBarreeHamzaAboveFin</key>
  <string>absY_ehB_arreeH_amzaA_boveF_in.glif</string>
  <key>absZahIni</key>
  <string>absZ_ahI_ni.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>oneMedium</key>
  <string>oneM_edium.glif</string>
  <key>oneSmall</key>
  <string>oneS_mall.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ornateLeftParen</key>
  <string>ornateL_eftP_aren.glif</string>
  <key>ornateRightParen</key>
  <string>ornateR_ightP_aren.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twoMedium</key>
  <string>twoM_edium.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>x</key>
  <string>x.glif</string>
</dict>
</plist>
