<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>_bar</key>
  <string>_bar.glif</string>
  <key>_bar2</key>
  <string>_bar2.glif</string>
  <key>_damma</key>
  <string>_damma.glif</string>
  <key>_damma.filled</key>
  <string>_damma.filled.glif</string>
  <key>_dot1_hat</key>
  <string>_dot1_hat.glif</string>
  <key>_dot1_smallV</key>
  <string>_dot1_smallV_.glif</string>
  <key>_dot1_tah</key>
  <string>_dot1_tah.glif</string>
  <key>_dot2h_smallV</key>
  <string>_dot2h_smallV_.glif</string>
  <key>_dot2h_tah</key>
  <string>_dot2h_tah.glif</string>
  <key>_dot2v</key>
  <string>_dot2v.glif</string>
  <key>_dot3h</key>
  <string>_dot3h.glif</string>
  <key>_four</key>
  <string>_four.glif</string>
  <key>_gafBar</key>
  <string>_gafB_ar.glif</string>
  <key>_gafBarCenter</key>
  <string>_gafB_arC_enter.glif</string>
  <key>_gafBarShort</key>
  <string>_gafB_arS_hort.glif</string>
  <key>_gafBarShort_dot2h</key>
  <string>_gafB_arS_hort_dot2h.glif</string>
  <key>_gafBarShort_dot3u</key>
  <string>_gafB_arS_hort_dot3u.glif</string>
  <key>_gafBar_dot2h</key>
  <string>_gafB_ar_dot2h.glif</string>
  <key>_gafBar_dot3u</key>
  <string>_gafB_ar_dot3u.glif</string>
  <key>_hamza</key>
  <string>_hamza.glif</string>
  <key>_hamzaDamma</key>
  <string>_hamzaD_amma.glif</string>
  <key>_hamzaDamma.filled</key>
  <string>_hamzaD_amma.filled.glif</string>
  <key>_hat</key>
  <string>_hat.glif</string>
  <key>_highHamza</key>
  <string>_highH_amza.glif</string>
  <key>_invSmallV</key>
  <string>_invS_mallV_.glif</string>
  <key>_madda.small</key>
  <string>_madda.small.glif</string>
  <key>_meem</key>
  <string>_meem.glif</string>
  <key>_ring</key>
  <string>_ring.glif</string>
  <key>_smallV</key>
  <string>_smallV_.glif</string>
  <key>_tah</key>
  <string>_tah.glif</string>
  <key>_tah_smallV</key>
  <string>_tah_smallV_.glif</string>
  <key>_teh</key>
  <string>_teh.glif</string>
  <key>_three</key>
  <string>_three.glif</string>
  <key>_two</key>
  <string>_two.glif</string>
  <key>_wasla</key>
  <string>_wasla.glif</string>
  <key>_wavyHamza</key>
  <string>_wavyH_amza.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>absAutoKashida</key>
  <string>absA_utoK_ashida.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>afghani-ar</key>
  <string>afghani-ar.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ainaboveStandard-ar</key>
  <string>ainaboveS_tandard-ar.glif</string>
  <key>alayhaaAsSalaam-ar</key>
  <string>alayhaaA_sS_alaam-ar.glif</string>
  <key>alayhiAsSalaam-ar</key>
  <string>alayhiA_sS_alaam-ar.glif</string>
  <key>alayhiAsSalaatuWaSalaam-ar</key>
  <string>alayhiA_sS_alaatuW_aS_alaam-ar.glif</string>
  <key>alayhimAsSalaam-ar</key>
  <string>alayhimA_sS_alaam-ar.glif</string>
  <key>alayhimaaAsSalaam-ar</key>
  <string>alayhimaaA_sS_alaam-ar.glif</string>
  <key>alef-ar</key>
  <string>alef-ar.glif</string>
  <key>alef-ar.allah.fina</key>
  <string>alef-ar.allah.fina.glif</string>
  <key>alef-ar.fina</key>
  <string>alef-ar.fina.glif</string>
  <key>alef-ar.postLamIni.fina</key>
  <string>alef-ar.postL_amI_ni.fina.glif</string>
  <key>alef-ar.postLamMed.fina</key>
  <string>alef-ar.postL_amM_ed.fina.glif</string>
  <key>alefHamzaabove-ar</key>
  <string>alefH_amzaabove-ar.glif</string>
  <key>alefHamzaabove-ar.fina</key>
  <string>alefH_amzaabove-ar.fina.glif</string>
  <key>alefHamzaabove-ar.postLamIni.fina</key>
  <string>alefH_amzaabove-ar.postL_amI_ni.fina.glif</string>
  <key>alefHamzaabove-ar.postLamMed.fina</key>
  <string>alefH_amzaabove-ar.postL_amM_ed.fina.glif</string>
  <key>alefHamzabelow-ar</key>
  <string>alefH_amzabelow-ar.glif</string>
  <key>alefHamzabelow-ar.fina</key>
  <string>alefH_amzabelow-ar.fina.glif</string>
  <key>alefHamzabelow-ar.postLamIni.fina</key>
  <string>alefH_amzabelow-ar.postL_amI_ni.fina.glif</string>
  <key>alefHamzabelow-ar.postLamMed.fina</key>
  <string>alefH_amzabelow-ar.postL_amM_ed.fina.glif</string>
  <key>alefMadda-ar</key>
  <string>alefM_adda-ar.glif</string>
  <key>alefMadda-ar.fina</key>
  <string>alefM_adda-ar.fina.glif</string>
  <key>alefMadda-ar.postLamIni.fina</key>
  <string>alefM_adda-ar.postL_amI_ni.fina.glif</string>
  <key>alefMadda-ar.postLamIni.small.fina</key>
  <string>alefM_adda-ar.postL_amI_ni.small.fina.glif</string>
  <key>alefMadda-ar.postLamMed.fina</key>
  <string>alefM_adda-ar.postL_amM_ed.fina.glif</string>
  <key>alefMadda-ar.postLamMed.small.fina</key>
  <string>alefM_adda-ar.postL_amM_ed.small.fina.glif</string>
  <key>alefMadda-ar.small</key>
  <string>alefM_adda-ar.small.glif</string>
  <key>alefMadda-ar.small.fina</key>
  <string>alefM_adda-ar.small.fina.glif</string>
  <key>alefThreeabove-ar</key>
  <string>alefT_hreeabove-ar.glif</string>
  <key>alefThreeabove-ar.fina</key>
  <string>alefT_hreeabove-ar.fina.glif</string>
  <key>alefThreeabove-ar.postLamIni.fina</key>
  <string>alefT_hreeabove-ar.postL_amI_ni.fina.glif</string>
  <key>alefThreeabove-ar.postLamMed.fina</key>
  <string>alefT_hreeabove-ar.postL_amM_ed.fina.glif</string>
  <key>alefTwoabove-ar</key>
  <string>alefT_woabove-ar.glif</string>
  <key>alefTwoabove-ar.fina</key>
  <string>alefT_woabove-ar.fina.glif</string>
  <key>alefTwoabove-ar.postLamIni.fina</key>
  <string>alefT_woabove-ar.postL_amI_ni.fina.glif</string>
  <key>alefTwoabove-ar.postLamMed.fina</key>
  <string>alefT_woabove-ar.postL_amM_ed.fina.glif</string>
  <key>alefWasla-ar</key>
  <string>alefW_asla-ar.glif</string>
  <key>alefWasla-ar.fina</key>
  <string>alefW_asla-ar.fina.glif</string>
  <key>alefWasla-ar.postLamIni.fina</key>
  <string>alefW_asla-ar.postL_amI_ni.fina.glif</string>
  <key>alefWasla-ar.postLamMed.fina</key>
  <string>alefW_asla-ar.postL_amM_ed.fina.glif</string>
  <key>alefWavyhamzaabove-ar</key>
  <string>alefW_avyhamzaabove-ar.glif</string>
  <key>alefWavyhamzaabove-ar.fina</key>
  <string>alefW_avyhamzaabove-ar.fina.glif</string>
  <key>alefWavyhamzaabove-ar.postLamIni.fina</key>
  <string>alefW_avyhamzaabove-ar.postL_amI_ni.fina.glif</string>
  <key>alefWavyhamzaabove-ar.postLamMed.fina</key>
  <string>alefW_avyhamzaabove-ar.postL_amM_ed.fina.glif</string>
  <key>alefWavyhamzabelow-ar</key>
  <string>alefW_avyhamzabelow-ar.glif</string>
  <key>alefWavyhamzabelow-ar.fina</key>
  <string>alefW_avyhamzabelow-ar.fina.glif</string>
  <key>alefWavyhamzabelow-ar.postLamIni.fina</key>
  <string>alefW_avyhamzabelow-ar.postL_amI_ni.fina.glif</string>
  <key>alefWavyhamzabelow-ar.postLamMed.fina</key>
  <string>alefW_avyhamzabelow-ar.postL_amM_ed.fina.glif</string>
  <key>alefabove-ar</key>
  <string>alefabove-ar.glif</string>
  <key>alefabove-ar.large</key>
  <string>alefabove-ar.large.glif</string>
  <key>aleflow-ar</key>
  <string>aleflow-ar.glif</string>
  <key>allah-ar</key>
  <string>allah-ar.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>bismillah-ar</key>
  <string>bismillah-ar.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dad-ar</key>
  <string>dad-ar.glif</string>
  <key>dad-ar.init</key>
  <string>dad-ar.init.glif</string>
  <key>dadDotbelow-ar</key>
  <string>dadD_otbelow-ar.glif</string>
  <key>dadDotbelow-ar.init</key>
  <string>dadD_otbelow-ar.init.glif</string>
  <key>dahal-ar.loclWLF</key>
  <string>dahal-ar.loclW_L_F_.glif</string>
  <key>dal-ar.loclWLF</key>
  <string>dal-ar.loclW_L_F_.glif</string>
  <key>dalDotbelow-ar.loclWLF</key>
  <string>dalD_otbelow-ar.loclW_L_F_.glif</string>
  <key>dalDotbelowTah-ar.loclWLF</key>
  <string>dalD_otbelowT_ah-ar.loclW_L_F_.glif</string>
  <key>dalFourdots-ar.loclWLF</key>
  <string>dalF_ourdots-ar.loclW_L_F_.glif</string>
  <key>dalRing-ar.loclWLF</key>
  <string>dalR_ing-ar.loclW_L_F_.glif</string>
  <key>dalThreedotsbelow-ar.loclWLF</key>
  <string>dalT_hreedotsbelow-ar.loclW_L_F_.glif</string>
  <key>dalThreedotsdown-ar.loclWLF</key>
  <string>dalT_hreedotsdown-ar.loclW_L_F_.glif</string>
  <key>dalTwodotsverticalbelowTah-ar.loclWLF</key>
  <string>dalT_wodotsverticalbelowT_ah-ar.loclW_L_F_.glif</string>
  <key>dalVinvertedabove-ar.loclWLF</key>
  <string>dalV_invertedabove-ar.loclW_L_F_.glif</string>
  <key>dalVinvertedbelow-ar.loclWLF</key>
  <string>dalV_invertedbelow-ar.loclW_L_F_.glif</string>
  <key>damma-ar</key>
  <string>damma-ar.glif</string>
  <key>damma-ar.filled</key>
  <string>damma-ar.filled.glif</string>
  <key>damma-ar.short</key>
  <string>damma-ar.short.glif</string>
  <key>dammaCurly-ar</key>
  <string>dammaC_urly-ar.glif</string>
  <key>dammaDot-ar</key>
  <string>dammaD_ot-ar.glif</string>
  <key>damma_meem-ar</key>
  <string>damma_meem-ar.glif</string>
  <key>dammainverted-ar.open</key>
  <string>dammainverted-ar.open.glif</string>
  <key>dammareversed-ar</key>
  <string>dammareversed-ar.glif</string>
  <key>dammasmall-ar</key>
  <string>dammasmall-ar.glif</string>
  <key>dammatan-ar</key>
  <string>dammatan-ar.glif</string>
  <key>dammatan-ar.sixNine</key>
  <string>dammatan-ar.sixN_ine.glif</string>
  <key>dammatanCurly-ar</key>
  <string>dammatanC_urly-ar.glif</string>
  <key>dammaturnedbelow-ar</key>
  <string>dammaturnedbelow-ar.glif</string>
  <key>ddahal-ar.loclWLF</key>
  <string>ddahal-ar.loclW_L_F_.glif</string>
  <key>ddal-ar.loclWLF</key>
  <string>ddal-ar.loclW_L_F_.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>doublerightarrowheadDotabove-ar</key>
  <string>doublerightarrowheadD_otabove-ar.glif</string>
  <key>doublerightarrowheadabove-ar</key>
  <string>doublerightarrowheadabove-ar.glif</string>
  <key>dul-ar.loclWLF</key>
  <string>dul-ar.loclW_L_F_.glif</string>
  <key>dyeh-ar.medi</key>
  <string>dyeh-ar.medi.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight-persian</key>
  <string>eight-persian.glif</string>
  <key>eight-persian.medium</key>
  <string>eight-persian.medium.glif</string>
  <key>eight-persian.small</key>
  <string>eight-persian.small.glif</string>
  <key>endofayah-ar</key>
  <string>endofayah-ar.glif</string>
  <key>endofayah-ar.2</key>
  <string>endofayah-ar.2.glif</string>
  <key>endofayah-ar.3</key>
  <string>endofayah-ar.3.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fatha-ar</key>
  <string>fatha-ar.glif</string>
  <key>fathaCurly-ar</key>
  <string>fathaC_urly-ar.glif</string>
  <key>fathaDotabove-ar</key>
  <string>fathaD_otabove-ar.glif</string>
  <key>fathaRing-ar</key>
  <string>fathaR_ing-ar.glif</string>
  <key>fatha_meem-ar</key>
  <string>fatha_meem-ar.glif</string>
  <key>fathatan-ar</key>
  <string>fathatan-ar.glif</string>
  <key>fathatanCurly-ar</key>
  <string>fathatanC_urly-ar.glif</string>
  <key>fathatwodots-ar</key>
  <string>fathatwodots-ar.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>footnotemarker-ar</key>
  <string>footnotemarker-ar.glif</string>
  <key>footnotemarker-ar.2</key>
  <string>footnotemarker-ar.2.glif</string>
  <key>four-ar</key>
  <string>four-ar.glif</string>
  <key>four-ar.medium</key>
  <string>four-ar.medium.glif</string>
  <key>four-ar.small</key>
  <string>four-ar.small.glif</string>
  <key>four-persian</key>
  <string>four-persian.glif</string>
  <key>four-persian.medium</key>
  <string>four-persian.medium.glif</string>
  <key>four-persian.roh</key>
  <string>four-persian.roh.glif</string>
  <key>four-persian.roh.medium</key>
  <string>four-persian.roh.medium.glif</string>
  <key>four-persian.roh.small</key>
  <string>four-persian.roh.small.glif</string>
  <key>four-persian.small</key>
  <string>four-persian.small.glif</string>
  <key>four-persian.urdu</key>
  <string>four-persian.urdu.glif</string>
  <key>four-persian.urdu.medium</key>
  <string>four-persian.urdu.medium.glif</string>
  <key>four-persian.urdu.small</key>
  <string>four-persian.urdu.small.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gaf-ar.fina</key>
  <string>gaf-ar.fina.glif</string>
  <key>gaf-ar.init</key>
  <string>gaf-ar.init.glif</string>
  <key>gafInvertedstroke-ar.fina</key>
  <string>gafI_nvertedstroke-ar.fina.glif</string>
  <key>gafInvertedstroke-ar.init</key>
  <string>gafI_nvertedstroke-ar.init.glif</string>
  <key>gafInvertedstroke-ar.medi</key>
  <string>gafI_nvertedstroke-ar.medi.glif</string>
  <key>gafRing-ar.fina</key>
  <string>gafR_ing-ar.fina.glif</string>
  <key>gafRing-ar.init</key>
  <string>gafR_ing-ar.init.glif</string>
  <key>gafThreedots-ar.fina</key>
  <string>gafT_hreedots-ar.fina.glif</string>
  <key>gafThreedots-ar.init</key>
  <string>gafT_hreedots-ar.init.glif</string>
  <key>gafTwodotsbelow-ar.fina</key>
  <string>gafT_wodotsbelow-ar.fina.glif</string>
  <key>gafTwodotsbelow-ar.init</key>
  <string>gafT_wodotsbelow-ar.init.glif</string>
  <key>gueh-ar.fina</key>
  <string>gueh-ar.fina.glif</string>
  <key>gueh-ar.init</key>
  <string>gueh-ar.init.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hah-ar.medi</key>
  <string>hah-ar.medi.glif</string>
  <key>hahFourbelow-ar.medi</key>
  <string>hahF_ourbelow-ar.medi.glif</string>
  <key>hahHamzaabove-ar.medi</key>
  <string>hahH_amzaabove-ar.medi.glif</string>
  <key>hahTahTwodotshorizontalbelow-ar.medi</key>
  <string>hahT_ahT_wodotshorizontalbelow-ar.medi.glif</string>
  <key>hahTahabove-ar.medi</key>
  <string>hahT_ahabove-ar.medi.glif</string>
  <key>hahTahbelow-ar.medi</key>
  <string>hahT_ahbelow-ar.medi.glif</string>
  <key>hahThreedotsabove-ar.medi</key>
  <string>hahT_hreedotsabove-ar.medi.glif</string>
  <key>hahThreedotsupbelow-ar.medi</key>
  <string>hahT_hreedotsupbelow-ar.medi.glif</string>
  <key>hahTwodotshorizontalabove-ar.medi</key>
  <string>hahT_wodotshorizontalabove-ar.medi.glif</string>
  <key>hahTwodotsverticalabove-ar.medi</key>
  <string>hahT_wodotsverticalabove-ar.medi.glif</string>
  <key>hahabove-ar</key>
  <string>hahabove-ar.glif</string>
  <key>hamza_damma-ar</key>
  <string>hamza_damma-ar.glif</string>
  <key>hamza_damma-ar.filled</key>
  <string>hamza_damma-ar.filled.glif</string>
  <key>hamza_damma-ar.short</key>
  <string>hamza_damma-ar.short.glif</string>
  <key>hamza_fatha-ar</key>
  <string>hamza_fatha-ar.glif</string>
  <key>hamzaabove-ar</key>
  <string>hamzaabove-ar.glif</string>
  <key>hamzabelow-ar</key>
  <string>hamzabelow-ar.glif</string>
  <key>heh-ar.allah.fina</key>
  <string>heh-ar.allah.fina.glif</string>
  <key>heh-ar.hooked.fina</key>
  <string>heh-ar.hooked.fina.glif</string>
  <key>heh-ar.hooked.init</key>
  <string>heh-ar.hooked.init.glif</string>
  <key>hehDoachashmee-ar</key>
  <string>hehD_oachashmee-ar.glif</string>
  <key>hehDoachashmee-ar.fina</key>
  <string>hehD_oachashmee-ar.fina.glif</string>
  <key>hehgoal-ar.allah.fina</key>
  <string>hehgoal-ar.allah.fina.glif</string>
  <key>hehgoal-ar.fina</key>
  <string>hehgoal-ar.fina.glif</string>
  <key>hehgoal-ar.init</key>
  <string>hehgoal-ar.init.glif</string>
  <key>hehgoalHamzaabove-ar.fina</key>
  <string>hehgoalH_amzaabove-ar.fina.glif</string>
  <key>hehgoalHamzaabove-ar.init</key>
  <string>hehgoalH_amzaabove-ar.init.glif</string>
  <key>highhamza-ar</key>
  <string>highhamza-ar.glif</string>
  <key>highhamzaAlef-ar</key>
  <string>highhamzaA_lef-ar.glif</string>
  <key>highhamzaAlef-ar.fina</key>
  <string>highhamzaA_lef-ar.fina.glif</string>
  <key>highhamzaAlef-ar.postLamIni.fina</key>
  <string>highhamzaA_lef-ar.postL_amI_ni.fina.glif</string>
  <key>highhamzaAlef-ar.postLamMed.fina</key>
  <string>highhamzaA_lef-ar.postL_amM_ed.fina.glif</string>
  <key>highwaw-ar</key>
  <string>highwaw-ar.glif</string>
  <key>hizb-ar</key>
  <string>hizb-ar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jallajalalouhou-ar</key>
  <string>jallajalalouhou-ar.glif</string>
  <key>jallajalalouhou-ar.xxx</key>
  <string>jallajalalouhou-ar.xxx.glif</string>
  <key>jeem-ar.medi</key>
  <string>jeem-ar.medi.glif</string>
  <key>jeemTwodotsabove-ar.medi</key>
  <string>jeemT_wodotsabove-ar.medi.glif</string>
  <key>jeemabove-ar</key>
  <string>jeemabove-ar.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kaf-ar</key>
  <string>kaf-ar.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kafDotabove-ar</key>
  <string>kafD_otabove-ar.glif</string>
  <key>kafDotabove-ar.init</key>
  <string>kafD_otabove-ar.init.glif</string>
  <key>kafDotbelow-ar</key>
  <string>kafD_otbelow-ar.glif</string>
  <key>kafDotbelow-ar.init</key>
  <string>kafD_otbelow-ar.init.glif</string>
  <key>kafRing-ar.fina</key>
  <string>kafR_ing-ar.fina.glif</string>
  <key>kafRing-ar.init</key>
  <string>kafR_ing-ar.init.glif</string>
  <key>kafThreedotsbelow-ar</key>
  <string>kafT_hreedotsbelow-ar.glif</string>
  <key>kafThreedotsbelow-ar.init</key>
  <string>kafT_hreedotsbelow-ar.init.glif</string>
  <key>kafTwodotshorizontalabove-ar</key>
  <string>kafT_wodotshorizontalabove-ar.glif</string>
  <key>kafTwodotshorizontalabove-ar.init</key>
  <string>kafT_wodotshorizontalabove-ar.init.glif</string>
  <key>kafswash-ar.medi</key>
  <string>kafswash-ar.medi.glif</string>
  <key>kasra-ar</key>
  <string>kasra-ar.glif</string>
  <key>kasra-ar.lowered</key>
  <string>kasra-ar.lowered.glif</string>
  <key>kasraCurly-ar</key>
  <string>kasraC_urly-ar.glif</string>
  <key>kasraDotbelow-ar</key>
  <string>kasraD_otbelow-ar.glif</string>
  <key>kasra_meem-ar</key>
  <string>kasra_meem-ar.glif</string>
  <key>kasratan-ar</key>
  <string>kasratan-ar.glif</string>
  <key>kasratan-ar.lowered</key>
  <string>kasratan-ar.lowered.glif</string>
  <key>kasratanCurly-ar</key>
  <string>kasratanC_urly-ar.glif</string>
  <key>keheh-ar.fina</key>
  <string>keheh-ar.fina.glif</string>
  <key>keheh-ar.init</key>
  <string>keheh-ar.init.glif</string>
  <key>kehehDotabove-ar.fina</key>
  <string>kehehD_otabove-ar.fina.glif</string>
  <key>kehehDotabove-ar.init</key>
  <string>kehehD_otabove-ar.init.glif</string>
  <key>kehehThreedotsabove-ar.fina</key>
  <string>kehehT_hreedotsabove-ar.fina.glif</string>
  <key>kehehThreedotsabove-ar.init</key>
  <string>kehehT_hreedotsabove-ar.init.glif</string>
  <key>kehehThreedotsbelow-ar.fina</key>
  <string>kehehT_hreedotsbelow-ar.fina.glif</string>
  <key>kehehThreedotsbelow-ar.init</key>
  <string>kehehT_hreedotsbelow-ar.init.glif</string>
  <key>kehehThreedotsupbelow-ar.fina</key>
  <string>kehehT_hreedotsupbelow-ar.fina.glif</string>
  <key>kehehThreedotsupbelow-ar.init</key>
  <string>kehehT_hreedotsupbelow-ar.init.glif</string>
  <key>kehehTwodotshorizontalabove-ar.fina</key>
  <string>kehehT_wodotshorizontalabove-ar.fina.glif</string>
  <key>kehehTwodotshorizontalabove-ar.init</key>
  <string>kehehT_wodotshorizontalabove-ar.init.glif</string>
  <key>khah-ar.medi</key>
  <string>khah-ar.medi.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lam-ar.allah1.init</key>
  <string>lam-ar.allah1.init.glif</string>
  <key>lam-ar.preAlef.init</key>
  <string>lam-ar.preA_lef.init.glif</string>
  <key>lam-ar.preAlef.medi</key>
  <string>lam-ar.preA_lef.medi.glif</string>
  <key>lamAlefabove-ar</key>
  <string>lamA_lefabove-ar.glif</string>
  <key>lamBar-ar.preAlef.init</key>
  <string>lamB_ar-ar.preA_lef.init.glif</string>
  <key>lamBar-ar.preAlef.medi</key>
  <string>lamB_ar-ar.preA_lef.medi.glif</string>
  <key>lamDotabove-ar.preAlef.init</key>
  <string>lamD_otabove-ar.preA_lef.init.glif</string>
  <key>lamDotabove-ar.preAlef.medi</key>
  <string>lamD_otabove-ar.preA_lef.medi.glif</string>
  <key>lamDoublebar-ar.preAlef.init</key>
  <string>lamD_oublebar-ar.preA_lef.init.glif</string>
  <key>lamDoublebar-ar.preAlef.medi</key>
  <string>lamD_oublebar-ar.preA_lef.medi.glif</string>
  <key>lamThreedotsabove-ar.preAlef.init</key>
  <string>lamT_hreedotsabove-ar.preA_lef.init.glif</string>
  <key>lamThreedotsabove-ar.preAlef.medi</key>
  <string>lamT_hreedotsabove-ar.preA_lef.medi.glif</string>
  <key>lamThreedotsbelow-ar.preAlef.init</key>
  <string>lamT_hreedotsbelow-ar.preA_lef.init.glif</string>
  <key>lamThreedotsbelow-ar.preAlef.medi</key>
  <string>lamT_hreedotsbelow-ar.preA_lef.medi.glif</string>
  <key>lamVabove-ar.preAlef.init</key>
  <string>lamV_above-ar.preA_lef.init.glif</string>
  <key>lamVabove-ar.preAlef.medi</key>
  <string>lamV_above-ar.preA_lef.medi.glif</string>
  <key>leftarrowheadbelow-ar</key>
  <string>leftarrowheadbelow-ar.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>madda-ar</key>
  <string>madda-ar.glif</string>
  <key>madda-ar.small</key>
  <string>madda-ar.small.glif</string>
  <key>marksidewaysnoonghunna-ar</key>
  <string>marksidewaysnoonghunna-ar.glif</string>
  <key>meem-ar.fina</key>
  <string>meem-ar.fina.glif</string>
  <key>meemDotabove-ar.fina</key>
  <string>meemD_otabove-ar.fina.glif</string>
  <key>meemDotbelow-ar.fina</key>
  <string>meemD_otbelow-ar.fina.glif</string>
  <key>meemStopabove-ar</key>
  <string>meemS_topabove-ar.glif</string>
  <key>meemThreedotsabove-ar.fina</key>
  <string>meemT_hreedotsabove-ar.fina.glif</string>
  <key>meemabove-ar</key>
  <string>meemabove-ar.glif</string>
  <key>meembelow-ar</key>
  <string>meembelow-ar.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>ng-ar</key>
  <string>ng-ar.glif</string>
  <key>ng-ar.init</key>
  <string>ng-ar.init.glif</string>
  <key>ngoeh-ar.fina</key>
  <string>ngoeh-ar.fina.glif</string>
  <key>ngoeh-ar.init</key>
  <string>ngoeh-ar.init.glif</string>
  <key>nine-ar</key>
  <string>nine-ar.glif</string>
  <key>nine-ar.medium</key>
  <string>nine-ar.medium.glif</string>
  <key>nine-ar.small</key>
  <string>nine-ar.small.glif</string>
  <key>nine-persian</key>
  <string>nine-persian.glif</string>
  <key>nine-persian.medium</key>
  <string>nine-persian.medium.glif</string>
  <key>nine-persian.small</key>
  <string>nine-persian.small.glif</string>
  <key>noonabove-ar</key>
  <string>noonabove-ar.glif</string>
  <key>noonghunnaabove-ar</key>
  <string>noonghunnaabove-ar.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>number-ar</key>
  <string>number-ar.glif</string>
  <key>number-ar.2</key>
  <string>number-ar.2.glif</string>
  <key>number-ar.3</key>
  <string>number-ar.3.glif</string>
  <key>numbermark-ar</key>
  <string>numbermark-ar.glif</string>
  <key>numbermark-ar.2</key>
  <string>numbermark-ar.2.glif</string>
  <key>nyeh-ar.medi</key>
  <string>nyeh-ar.medi.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>one-persian</key>
  <string>one-persian.glif</string>
  <key>one-persian.medium</key>
  <string>one-persian.medium.glif</string>
  <key>one-persian.small</key>
  <string>one-persian.small.glif</string>
  <key>one.medium</key>
  <string>one.medium.glif</string>
  <key>one.small</key>
  <string>one.small.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>opendammatan-ar</key>
  <string>opendammatan-ar.glif</string>
  <key>openfathatan-ar</key>
  <string>openfathatan-ar.glif</string>
  <key>openkasratan-ar</key>
  <string>openkasratan-ar.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pagenumber-ar</key>
  <string>pagenumber-ar.glif</string>
  <key>pagenumber-ar.2</key>
  <string>pagenumber-ar.2.glif</string>
  <key>pagenumber-ar.3</key>
  <string>pagenumber-ar.3.glif</string>
  <key>pagenumber-ar.4</key>
  <string>pagenumber-ar.4.glif</string>
  <key>parenleft-ar</key>
  <string>parenleft-ar.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>parenright-ar</key>
  <string>parenright-ar.glif</string>
  <key>partialdiff.rtl</key>
  <string>partialdiff.rtl.glif</string>
  <key>qaf-ar.fina</key>
  <string>qaf-ar.fina.glif</string>
  <key>qafAfrican-ar.fina</key>
  <string>qafA_frican-ar.fina.glif</string>
  <key>qafDotabove-ar.fina</key>
  <string>qafD_otabove-ar.fina.glif</string>
  <key>qafDotbelow-ar.fina</key>
  <string>qafD_otbelow-ar.fina.glif</string>
  <key>qafDotless-ar.fina</key>
  <string>qafD_otless-ar.fina.glif</string>
  <key>qafLamAlefMaksuraabove-ar</key>
  <string>qafL_amA_lefM_aksuraabove-ar.glif</string>
  <key>qafThreedotsabove-ar.fina</key>
  <string>qafT_hreedotsabove-ar.fina.glif</string>
  <key>qafabove-ar</key>
  <string>qafabove-ar.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radiAllaahuAnh-ar</key>
  <string>radiA_llaahuA_nh-ar.glif</string>
  <key>radiAllaahuAnhaa-ar</key>
  <string>radiA_llaahuA_nhaa-ar.glif</string>
  <key>radiAllaahuAnhum-ar</key>
  <string>radiA_llaahuA_nhum-ar.glif</string>
  <key>radiAllaahuAnhumaa-ar</key>
  <string>radiA_llaahuA_nhumaa-ar.glif</string>
  <key>radiAllaahuAnhunna-ar</key>
  <string>radiA_llaahuA_nhunna-ar.glif</string>
  <key>rahimahuAllaah-ar</key>
  <string>rahimahuA_llaah-ar.glif</string>
  <key>ray-ar</key>
  <string>ray-ar.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>rehHahabove-ar</key>
  <string>rehH_ahabove-ar.glif</string>
  <key>rehLoop-ar</key>
  <string>rehL_oop-ar.glif</string>
  <key>rehLoop-ar.fina</key>
  <string>rehL_oop-ar.fina.glif</string>
  <key>rial</key>
  <string>rial.glif</string>
  <key>rightarrowheadDotabove-ar</key>
  <string>rightarrowheadD_otabove-ar.glif</string>
  <key>rightarrowheadbelow-ar</key>
  <string>rightarrowheadbelow-ar.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad-ar.init</key>
  <string>sad-ar.init.glif</string>
  <key>sadLamAlefMaksuraabove-ar</key>
  <string>sadL_amA_lefM_aksuraabove-ar.glif</string>
  <key>sadThreedots-ar</key>
  <string>sadT_hreedots-ar.glif</string>
  <key>sadThreedots-ar.init</key>
  <string>sadT_hreedots-ar.init.glif</string>
  <key>sadThreedotsbelow-ar</key>
  <string>sadT_hreedotsbelow-ar.glif</string>
  <key>sadThreedotsbelow-ar.init</key>
  <string>sadT_hreedotsbelow-ar.init.glif</string>
  <key>sadTwodotsbelow-ar</key>
  <string>sadT_wodotsbelow-ar.glif</string>
  <key>sadTwodotsbelow-ar.init</key>
  <string>sadT_wodotsbelow-ar.init.glif</string>
  <key>sadabove-ar</key>
  <string>sadabove-ar.glif</string>
  <key>sadaboveStandard-ar</key>
  <string>sadaboveS_tandard-ar.glif</string>
  <key>sajdah-ar</key>
  <string>sajdah-ar.glif</string>
  <key>salaamuhuAlaynaa-ar</key>
  <string>salaamuhuA_laynaa-ar.glif</string>
  <key>sallallaahuAlayhiWaAalih-ar</key>
  <string>sallallaahuA_layhiW_aA_alih-ar.glif</string>
  <key>samvat-ar</key>
  <string>samvat-ar.glif</string>
  <key>samvat-ar.2</key>
  <string>samvat-ar.2.glif</string>
  <key>samvat-ar.3</key>
  <string>samvat-ar.3.glif</string>
  <key>samvat-ar.4</key>
  <string>samvat-ar.4.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.init</key>
  <string>seen-ar.init.glif</string>
  <key>seen-ar.medi</key>
  <string>seen-ar.medi.glif</string>
  <key>seenDotbelowDotabove-ar</key>
  <string>seenD_otbelowD_otabove-ar.glif</string>
  <key>seenDotbelowDotabove-ar.init</key>
  <string>seenD_otbelowD_otabove-ar.init.glif</string>
  <key>seenDotbelowDotabove-ar.medi</key>
  <string>seenD_otbelowD_otabove-ar.medi.glif</string>
  <key>seenFourabove-ar</key>
  <string>seenF_ourabove-ar.glif</string>
  <key>seenFourabove-ar.init</key>
  <string>seenF_ourabove-ar.init.glif</string>
  <key>seenFourabove-ar.medi</key>
  <string>seenF_ourabove-ar.medi.glif</string>
  <key>seenFourdotsabove-ar</key>
  <string>seenF_ourdotsabove-ar.glif</string>
  <key>seenFourdotsabove-ar.init</key>
  <string>seenF_ourdotsabove-ar.init.glif</string>
  <key>seenFourdotsabove-ar.medi</key>
  <string>seenF_ourdotsabove-ar.medi.glif</string>
  <key>seenTahTwodotshorizontalabove-ar</key>
  <string>seenT_ahT_wodotshorizontalabove-ar.glif</string>
  <key>seenTahTwodotshorizontalabove-ar.init</key>
  <string>seenT_ahT_wodotshorizontalabove-ar.init.glif</string>
  <key>seenTahTwodotshorizontalabove-ar.medi</key>
  <string>seenT_ahT_wodotshorizontalabove-ar.medi.glif</string>
  <key>seenThreedotsbelow-ar</key>
  <string>seenT_hreedotsbelow-ar.glif</string>
  <key>seenThreedotsbelow-ar.init</key>
  <string>seenT_hreedotsbelow-ar.init.glif</string>
  <key>seenThreedotsbelow-ar.medi</key>
  <string>seenT_hreedotsbelow-ar.medi.glif</string>
  <key>seenTwodotsverticalabove-ar</key>
  <string>seenT_wodotsverticalabove-ar.glif</string>
  <key>seenTwodotsverticalabove-ar.init</key>
  <string>seenT_wodotsverticalabove-ar.init.glif</string>
  <key>seenTwodotsverticalabove-ar.medi</key>
  <string>seenT_wodotsverticalabove-ar.medi.glif</string>
  <key>seenVinvertedabove-ar</key>
  <string>seenV_invertedabove-ar.glif</string>
  <key>seenVinvertedabove-ar.init</key>
  <string>seenV_invertedabove-ar.init.glif</string>
  <key>seenVinvertedabove-ar.medi</key>
  <string>seenV_invertedabove-ar.medi.glif</string>
  <key>seenabove-ar</key>
  <string>seenabove-ar.glif</string>
  <key>seenbelow-ar</key>
  <string>seenbelow-ar.glif</string>
  <key>seven-ar</key>
  <string>seven-ar.glif</string>
  <key>seven-ar.medium</key>
  <string>seven-ar.medium.glif</string>
  <key>seven-persian</key>
  <string>seven-persian.glif</string>
  <key>seven-persian.medium</key>
  <string>seven-persian.medium.glif</string>
  <key>seven-persian.small</key>
  <string>seven-persian.small.glif</string>
  <key>seven-persian.urdu.medium</key>
  <string>seven-persian.urdu.medium.glif</string>
  <key>shadda-ar</key>
  <string>shadda-ar.glif</string>
  <key>shadda_alef-ar</key>
  <string>shadda_alef-ar.glif</string>
  <key>shadda_damma-ar</key>
  <string>shadda_damma-ar.glif</string>
  <key>shadda_damma-ar.filled</key>
  <string>shadda_damma-ar.filled.glif</string>
  <key>shadda_damma-ar.short</key>
  <string>shadda_damma-ar.short.glif</string>
  <key>shadda_dammatan-ar</key>
  <string>shadda_dammatan-ar.glif</string>
  <key>shadda_dammatan-ar.sixNine</key>
  <string>shadda_dammatan-ar.sixN_ine.glif</string>
  <key>shadda_fatha-ar</key>
  <string>shadda_fatha-ar.glif</string>
  <key>shadda_fathatan-ar</key>
  <string>shadda_fathatan-ar.glif</string>
  <key>shadda_kasra-ar</key>
  <string>shadda_kasra-ar.glif</string>
  <key>shadda_kasratan-ar</key>
  <string>shadda_kasratan-ar.glif</string>
  <key>sheen-ar</key>
  <string>sheen-ar.glif</string>
  <key>sheen-ar.init</key>
  <string>sheen-ar.init.glif</string>
  <key>sheen-ar.medi</key>
  <string>sheen-ar.medi.glif</string>
  <key>sheenDotbelow-ar</key>
  <string>sheenD_otbelow-ar.glif</string>
  <key>sheenDotbelow-ar.init</key>
  <string>sheenD_otbelow-ar.init.glif</string>
  <key>sheenDotbelow-ar.medi</key>
  <string>sheenD_otbelow-ar.medi.glif</string>
  <key>sheenThreedotsbelow-ar</key>
  <string>sheenT_hreedotsbelow-ar.glif</string>
  <key>sheenThreedotsbelow-ar.init</key>
  <string>sheenT_hreedotsbelow-ar.init.glif</string>
  <key>sheenThreedotsbelow-ar.medi</key>
  <string>sheenT_hreedotsbelow-ar.medi.glif</string>
  <key>six-persian.urdu</key>
  <string>six-persian.urdu.glif</string>
  <key>six-persian.urdu.medium</key>
  <string>six-persian.urdu.medium.glif</string>
  <key>six-persian.urdu.small</key>
  <string>six-persian.urdu.small.glif</string>
  <key>sukun-ar</key>
  <string>sukun-ar.glif</string>
  <key>sukun-ar.downOpen</key>
  <string>sukun-ar.downO_pen.glif</string>
  <key>sukun-ar.leftOpen</key>
  <string>sukun-ar.leftO_pen.glif</string>
  <key>sukunround-ar</key>
  <string>sukunround-ar.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>tah-ar.init</key>
  <string>tah-ar.init.glif</string>
  <key>tahThreedots-ar.init</key>
  <string>tahT_hreedots-ar.init.glif</string>
  <key>tahTwodotsabove-ar.init</key>
  <string>tahT_wodotsabove-ar.init.glif</string>
  <key>tcheh-ar.medi</key>
  <string>tcheh-ar.medi.glif</string>
  <key>tchehDotabove-ar.medi</key>
  <string>tchehD_otabove-ar.medi.glif</string>
  <key>tcheheh-ar.medi</key>
  <string>tcheheh-ar.medi.glif</string>
  <key>tehMarbutagoal-ar.fina</key>
  <string>tehM_arbutagoal-ar.fina.glif</string>
  <key>thal-ar.loclWLF</key>
  <string>thal-ar.loclW_L_F_.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three-persian</key>
  <string>three-persian.glif</string>
  <key>three-persian.medium</key>
  <string>three-persian.medium.glif</string>
  <key>three-persian.small</key>
  <string>three-persian.small.glif</string>
  <key>toneloopabove-ar</key>
  <string>toneloopabove-ar.glif</string>
  <key>toneloopbelow-ar</key>
  <string>toneloopbelow-ar.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two-ar</key>
  <string>two-ar.glif</string>
  <key>two-ar.medium</key>
  <string>two-ar.medium.glif</string>
  <key>two-persian</key>
  <string>two-persian.glif</string>
  <key>two-persian.medium</key>
  <string>two-persian.medium.glif</string>
  <key>two-persian.small</key>
  <string>two-persian.small.glif</string>
  <key>two.medium</key>
  <string>two.medium.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vabove-ar</key>
  <string>vabove-ar.glif</string>
  <key>verseComma-ar</key>
  <string>verseC_omma-ar.glif</string>
  <key>vinvertedabove-ar</key>
  <string>vinvertedabove-ar.glif</string>
  <key>wavyhamzabelow-ar</key>
  <string>wavyhamzabelow-ar.glif</string>
  <key>wawSmall-ar</key>
  <string>wawS_mall-ar.glif</string>
  <key>wawStraight-ar</key>
  <string>wawS_traight-ar.glif</string>
  <key>wawStraight-ar.fina</key>
  <string>wawS_traight-ar.fina.glif</string>
  <key>wawbelow-ar</key>
  <string>wawbelow-ar.glif</string>
  <key>wordAnNisfabove-ar</key>
  <string>wordA_nN_isfabove-ar.glif</string>
  <key>wordArRubabove-ar</key>
  <string>wordA_rR_ubabove-ar.glif</string>
  <key>wordAsSajdaabove-ar</key>
  <string>wordA_sS_ajdaabove-ar.glif</string>
  <key>wordQifabove-ar</key>
  <string>wordQ_ifabove-ar.glif</string>
  <key>wordSaktaabove-ar</key>
  <string>wordS_aktaabove-ar.glif</string>
  <key>wordWaqfaabove-ar</key>
  <string>wordW_aqfaabove-ar.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>year-ar</key>
  <string>year-ar.glif</string>
  <key>year-ar.2</key>
  <string>year-ar.2.glif</string>
  <key>year-ar.3</key>
  <string>year-ar.3.glif</string>
  <key>year-ar.4</key>
  <string>year-ar.4.glif</string>
  <key>yehKashmiri-ar</key>
  <string>yehK_ashmiri-ar.glif</string>
  <key>yehKashmiri-ar.fina</key>
  <string>yehK_ashmiri-ar.fina.glif</string>
  <key>yehRohingya-ar</key>
  <string>yehR_ohingya-ar.glif</string>
  <key>yehRohingya-ar.fina</key>
  <string>yehR_ohingya-ar.fina.glif</string>
  <key>yehSmall-ar</key>
  <string>yehS_mall-ar.glif</string>
  <key>yehabove-ar</key>
  <string>yehabove-ar.glif</string>
  <key>yehbarree-ar.fina</key>
  <string>yehbarree-ar.fina.glif</string>
  <key>yehbarreeHamzaabove-ar.fina</key>
  <string>yehbarreeH_amzaabove-ar.fina.glif</string>
  <key>yehbarreeThreeabove-ar.fina</key>
  <string>yehbarreeT_hreeabove-ar.fina.glif</string>
  <key>yehbarreeTwoabove-ar.fina</key>
  <string>yehbarreeT_woabove-ar.fina.glif</string>
  <key>zah-ar.init</key>
  <string>zah-ar.init.glif</string>
  <key>zero-persian</key>
  <string>zero-persian.glif</string>
  <key>zero-persian.medium</key>
  <string>zero-persian.medium.glif</string>
  <key>zero-persian.small</key>
  <string>zero-persian.small.glif</string>
</dict>
</plist>
