<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_allah.cal</key>
  <string>_allah.cal.glif</string>
  <key>_allahNarrow.cal</key>
  <string>_allahN_arrow.cal.glif</string>
  <key>_waw.cal</key>
  <string>_waw.cal.glif</string>
  <key>alayhaaAsSalaam-ar</key>
  <string>alayhaaA_sS_alaam-ar.glif</string>
  <key>alayhaaAsSalaatuWasSalaam-ar</key>
  <string>alayhaaA_sS_alaatuW_asS_alaam-ar.glif</string>
  <key>alayhiArRahmah-ar</key>
  <string>alayhiA_rR_ahmah-ar.glif</string>
  <key>alayhiAsSalaam-ar</key>
  <string>alayhiA_sS_alaam-ar.glif</string>
  <key>alayhiAsSalaatuWaSalaam-ar</key>
  <string>alayhiA_sS_alaatuW_aS_alaam-ar.glif</string>
  <key>allahlong-ar</key>
  <string>allahlong-ar.glif</string>
  <key>azzaWaJall-ar</key>
  <string>azzaW_aJ_all-ar.glif</string>
  <key>bismillah-ar.smpl</key>
  <string>bismillah-ar.smpl.glif</string>
  <key>endofayah-ar.altC.2</key>
  <string>endofayah-ar.altC_.2.glif</string>
  <key>ghainDotbelow-ar.init</key>
  <string>ghainD_otbelow-ar.init.glif</string>
  <key>jallaWaAlaa-ar</key>
  <string>jallaW_aA_laa-ar.glif</string>
  <key>jallajalalouhou-ar</key>
  <string>jallajalalouhou-ar.glif</string>
  <key>number-ar</key>
  <string>number-ar.glif</string>
  <key>number-ar.2</key>
  <string>number-ar.2.glif</string>
  <key>number-ar.3</key>
  <string>number-ar.3.glif</string>
  <key>numbermark-ar.4</key>
  <string>numbermark-ar.4.glif</string>
  <key>pepet-ar</key>
  <string>pepet-ar.glif</string>
  <key>qaddasaAllaahuSirrah-ar</key>
  <string>qaddasaA_llaahuS_irrah-ar.glif</string>
  <key>quddisaSirrah-ar</key>
  <string>quddisaS_irrah-ar.glif</string>
  <key>quddisaSirruhum-ar</key>
  <string>quddisaS_irruhum-ar.glif</string>
  <key>quddisaSirruhumaa-ar</key>
  <string>quddisaS_irruhumaa-ar.glif</string>
  <key>quddisatAsraaruhum-ar</key>
  <string>quddisatA_sraaruhum-ar.glif</string>
  <key>radiAllaahuAnhaa-ar</key>
  <string>radiA_llaahuA_nhaa-ar.glif</string>
  <key>radiAllaahuAnhumaa-ar</key>
  <string>radiA_llaahuA_nhumaa-ar.glif</string>
  <key>radiAllaahuAnhunna-ar</key>
  <string>radiA_llaahuA_nhunna-ar.glif</string>
  <key>rahimahuAllaah-ar</key>
  <string>rahimahuA_llaah-ar.glif</string>
  <key>rahimahumAllaah-ar</key>
  <string>rahimahumA_llaah-ar.glif</string>
  <key>rahimahumaaAllaah-ar</key>
  <string>rahimahumaaA_llaah-ar.glif</string>
  <key>rahmatuAllaahiAlayh-ar</key>
  <string>rahmatuA_llaahiA_layh-ar.glif</string>
  <key>rahmatuAllaahiAlayhaa-ar</key>
  <string>rahmatuA_llaahiA_layhaa-ar.glif</string>
  <key>rahmatuAllaahiAlayhim-ar</key>
  <string>rahmatuA_llaahiA_layhim-ar.glif</string>
  <key>rahmatuAllaahiAlayhimaa-ar</key>
  <string>rahmatuA_llaahiA_layhimaa-ar.glif</string>
  <key>sallallaahuAlayhiWaAalih-ar</key>
  <string>sallallaahuA_layhiW_aA_alih-ar.glif</string>
  <key>sallallahuAlayhiWaAaliheeWaSallam-ar</key>
  <string>sallallahuA_layhiW_aA_aliheeW_aS_allam-ar.glif</string>
  <key>tabaarakaWaTaaalaa-ar</key>
  <string>tabaarakaW_aT_aaalaa-ar.glif</string>
</dict>
</plist>
