<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>allahlong-ar</key>
  <string>allahlong-ar.glif</string>
  <key>dadDotbelow-ar.fina</key>
  <string>dadD_otbelow-ar.fina.glif</string>
  <key>dadDotbelow-ar.init</key>
  <string>dadD_otbelow-ar.init.glif</string>
  <key>dadDotbelow-ar.medi</key>
  <string>dadD_otbelow-ar.medi.glif</string>
  <key>ghainDotbelow-ar.fina</key>
  <string>ghainD_otbelow-ar.fina.glif</string>
  <key>ghainDotbelow-ar.medi</key>
  <string>ghainD_otbelow-ar.medi.glif</string>
  <key>lamDoublebar_alef-ar</key>
  <string>lamD_oublebar_alef-ar.glif</string>
  <key>lamDoublebar_alef-ar.fina</key>
  <string>lamD_oublebar_alef-ar.fina.glif</string>
  <key>lamDoublebar_alefWasla-ar</key>
  <string>lamD_oublebar_alefW_asla-ar.glif</string>
  <key>lamDoublebar_alefWavyhamzaabove-ar</key>
  <string>lamD_oublebar_alefW_avyhamzaabove-ar.glif</string>
  <key>lamDoublebar_alefWavyhamzaabove-ar.fina</key>
  <string>lamD_oublebar_alefW_avyhamzaabove-ar.fina.glif</string>
  <key>lamDoublebar_alefWavyhamzabelow-ar</key>
  <string>lamD_oublebar_alefW_avyhamzabelow-ar.glif</string>
  <key>lamDoublebar_alefWavyhamzabelow-ar.fina</key>
  <string>lamD_oublebar_alefW_avyhamzabelow-ar.fina.glif</string>
  <key>number-ar</key>
  <string>number-ar.glif</string>
  <key>number-ar.2</key>
  <string>number-ar.2.glif</string>
  <key>number-ar.3</key>
  <string>number-ar.3.glif</string>
  <key>rahimahuAllaah-ar</key>
  <string>rahimahuA_llaah-ar.glif</string>
</dict>
</plist>
