<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aleflow-ar</key>
  <string>aleflow-ar.glif</string>
  <key>alefmokhassasabove-ar</key>
  <string>alefmokhassasabove-ar.glif</string>
  <key>aljuzabove-ar</key>
  <string>aljuzabove-ar.glif</string>
  <key>endoftext-ar</key>
  <string>endoftext-ar.glif</string>
  <key>maddadoubled-ar</key>
  <string>maddadoubled-ar.glif</string>
  <key>maddawaajib-ar</key>
  <string>maddawaajib-ar.glif</string>
  <key>seenabove-ar</key>
  <string>seenabove-ar.glif</string>
  <key>verticaltail-ar</key>
  <string>verticaltail-ar.glif</string>
  <key>verticaltail-ar.fina</key>
  <string>verticaltail-ar.fina.glif</string>
  <key>yeh-ar.noDots</key>
  <string>yeh-ar.noD_ots.glif</string>
  <key>yehabove-farsi</key>
  <string>yehabove-farsi.glif</string>
  <key>yehbarreeTwobelowabove-ar</key>
  <string>yehbarreeT_wobelowabove-ar.glif</string>
  <key>yehthin-ar.init</key>
  <string>yehthin-ar.init.glif</string>
</dict>
</plist>
